/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 juil. 2017, 11:59:39
    Author     : Administrateur
*/
body > header {
    z-index: 8;
    position: relative;
    background-image: url(./../images/background01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body > header > h1 {
    position: absolute;
    text-align: center;
    bottom: 50%;
}
 
body > header > p {
    background: #ffffff;
    position: absolute;
    bottom: 30%;
    text-align: center;
    line-height: 2em;
}
body > header > div {
    position: absolute;
    height: 30%;
    width: 100%;
    bottom: 0;
    text-align: center;
    overflow: hidden;
}
body > header  .php {
    top: 115%;
    animation-name: php;
    
}

body > header .java {
    top: 215%;
    animation-name: java;
    
}

body > header .android {
    top: 315%;
    animation-name: android;
    
}

body > header .js {
    top: 415%;
    animation-name: js;
    
}

body > header .html {
    top: 515%;
    animation-name: html;
}

body > header .language {
    height: 70%;
    position: relative;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    opacity: 0;
}