/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 juil. 2017, 10:45:35
    Author     : Administrateur
*/
/* line 10, ../sass/reset.scss */
html, body, nav, header, section, footer, div, p, h1, h2 ul {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  transition: all 5s linear;
}

/* line 17, ../sass/reset.scss */
a {
  text-decoration: none !important;
  color: inherit !important;
  box-sizing: border-box;
}

/* line 22, ../sass/reset.scss */
h2 {
  text-align: center;
}

/* line 26, ../sass/reset.scss */
ul {
  list-style-type: none;
}

/* line 29, ../sass/reset.scss */
.row {
  margin: 0 !important;
}

/* line 33, ../sass/reset.scss */
.input-group span {
  top: 0 !important;
  /*height: 82px !important;*/
  /*line-height: 0;*/
}

/* line 38, ../sass/reset.scss */
.input-group input {
  /*height: 86px !important;*/
}
